{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 48.357945769870724,
        "longitude": 10.898694992065431,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Herbi",
        "time_zone": "Europe/Berlin",
        "external_url": null,
        "internal_url": null,
        "currency": "EUR"
    }
}